# Thư viện sử dụng

In [1]:
import pandas as pd
import ast  
import datetime

# Tổng quan về dữ liệu

In [2]:
df = pd.read_csv('Data/data_crawl.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        174 non-null    int64
 1   text                           148 non-null    object
 2   post_text                      148 non-null    object
 3   shared_text                    0 non-null      float64
 4   original_text                  0 non-null      float64
 5   time                           174 non-null    object
 6   timestamp                      170 non-null    float64
 7   image                          164 non-null    object
 8   image_lowquality               174 non-null    object
 9   images                         174 non-null    object
 10  images_description             174 non-null    object
 11  images_lowquality              174 non-null    object
 12  images_lowquality_description  174 non-null    object
 13  video                          1 non-null      object
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       1 non-null      float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                1 non-null      object
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          44 non-null     float64
 23  comments                       174 non-null    int64
 24  shares                         174 non-null    int64
 25  post_url                       174 non-null    object
 26  link                           0 non-null      float64
 27  links                          174 non-null    object
 28  user_id                        174 non-null    int64
 29  username                       174 non-null    object
 30  user_url                       174 non-null    object
 31  is_live                        174 non-null    bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 0 non-null      float64
 34  shared_time                    0 non-null      float64
 35  shared_user_id                 0 non-null      float64
 36  shared_username                0 non-null      float64
 37  shared_post_url                0 non-null      float64
 38  available                      174 non-null    bool
 39  comments_full                  174 non-null    object
 40  reactors                       130 non-null    object
 41  w3_fb_url                      130 non-null    object
 42  reactions                      130 non-null    object
 43  reaction_count                 174 non-null    int64
 44  with                           0 non-null      float64
 45  page_id                        174 non-null    int64
 46  sharers                        0 non-null      float64
 47  image_id                       166 non-null    float64
 48  image_ids                      174 non-null    object
 49  was_live                       174 non-null    bool
 50  fetched_time                   130 non-null    object
 51  video_ids                      3 non-null      object
 52  videos                         3 non-null      object
dtypes: bool(3), float64(21), int64(6), object(23)
memory usage: 68.6+ KB

In [4]:
df.head()

,post_id,text,post_text,shared_text,original_text,time,timestamp,image,image_lowquality,images,...,reaction_count,with,page_id,sharers,image_id,image_ids,was_live,fetched_time,video_ids,videos
0,332725869390006,"Tiếc ghê mọi người ạ, chỉ còn vài giây nữa là ...","Tiếc ghê mọi người ạ, chỉ còn vài giây nữa là ...",NaN,NaN,2023-11-21 20:58:55,1.700575e+09,https://scontent.fhan5-1.fna.fbcdn.net/v/t39.3...,https://scontent.fhan5-1.fna.fbcdn.net/v/t39.3...,['https://scontent.fhan5-1.fna.fbcdn.net/v/t39...,...,3718,NaN,106945670701435,NaN,3.327254e+14,['332725399390053'],False,2023-11-23 21:50:09.727258,NaN,NaN
1,332239869438606,Đây một người thầy giáo dạy lịch sử. Nhưng khá...,Đây một người thầy giáo dạy lịch sử. Nhưng khá...,NaN,NaN,2023-11-20 21:37:59,1.700491e+09,NaN,https://scontent.fhan5-1.fna.fbcdn.net/v/t39.3...,[],...,6548,NaN,106945670701435,NaN,3.322370e+14,['332236962772230'],False,2023-11-23 21:50:29.337410,NaN,NaN
2,331196266209633,"Có 1,06 triệu tỷ đồng (1.066.000.000.000.000 đ...","Có 1,06 triệu tỷ đồng (1.066.000.000.000.000 đ...",NaN,NaN,2023-11-18 22:29:15,1.700321e+09,https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.3...,https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.3...,['https://scontent.fsgn5-6.fna.fbcdn.net/v/t39...,...,5725,NaN,106945670701435,NaN,3.311919e+14,['331191866210073'],False,2023-11-23 21:51:27.755576,NaN,NaN
3,331101946219065,ĐỪNG CÓ MƠ MÀ RA KHỎI VIỆT NAM\n\nGia tộc Vạn ...,ĐỪNG CÓ MƠ MÀ RA KHỎI VIỆT NAM\n\nGia tộc Vạn ...,NaN,NaN,2023-11-18 19:02:21,1.700309e+09,https://m.facebook.com/photo/view_full_size/?f...,https://scontent-hkt1-2.xx.fbcdn.net/v/t39.308...,['https://m.facebook.com/photo/view_full_size/...,...,2377,NaN,106945670701435,NaN,3.310821e+14,['331082069554386'],False,2023-11-23 21:52:00.233540,NaN,NaN
4,330402456289014,LẠI THÊM MỘT TRÁI TIM NGỪNG ĐẬP GIỮA THỜI BÌNH...,LẠI THÊM MỘT TRÁI TIM NGỪNG ĐẬP GIỮA THỜI BÌNH...,NaN,NaN,2023-11-17 10:08:50,1.700191e+09,https://scontent.fhan5-1.fna.fbcdn.net/v/t39.3...,https://scontent.fhan5-1.fna.fbcdn.net/v/t39.3...,['https://scontent.fhan5-1.fna.fbcdn.net/v/t39...,...,10534,NaN,106945670701435,NaN,3.304024e+14,['330402406289019'],False,2023-11-23 21:52:36.684374,NaN,NaN

# Làm sạch dữ liệu

## Loại bỏ bài đăng không chứa nội dung:

In [5]:
df_cleaned = df.dropna(subset=['post_text'])

## Loại bỏ bài đăng không có bình luận:

In [6]:
df_cleaned = df_cleaned[df_cleaned['comments'] > 0]

## Xử lý quyền truy cập bị hạn chế

In [7]:
df_cleaned = df_cleaned[df_cleaned['available']]

## Loại bỏ thông tin không cần thiết:

In [8]:
# Loại bỏ các cột không có giá trị
df_cleaned = df_cleaned.dropna(axis=1, how='all')

In [9]:
# List các cột không cần thiết
columns_to_drop = ['text','image', 'image_lowquality', 'images', 
                   'images_lowquality', 'images_lowquality_description',
                   'post_url','links','user_id','user_url',
                   'is_live','available','w3_fb_url','page_id',
                   'was_live','videos','video','video_id',
                   'timestamp','video_thumbnail','username','video_ids'
                   ,'fetched_time','image_id','image_ids','reactors']

# Loại bỏ các cột không cần thiết
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [10]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130 entries, 0 to 143
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   post_id             130 non-null    int64
 1   post_text           130 non-null    object
 2   time                130 non-null    object
 3   images_description  130 non-null    object
 4   comments            130 non-null    int64
 5   shares              130 non-null    int64
 6   comments_full       130 non-null    object
 7   reactions           130 non-null    object
 8   reaction_count      130 non-null    int64
dtypes: int64(4), object(5)
memory usage: 10.2+ KB

# Tiền xử lý dữ liệu:

In [11]:
# example data
df_cleaned.loc[0]

post_id                                                 332725869390006
post_text             Tiếc ghê mọi người ạ, chỉ còn vài giây nữa là ...
time                                                2023-11-21 20:58:55
images_description    ['Có thể là hình ảnh về 4 người, mọi người đan...
comments                                                            495
shares                                                               10
comments_full         [{'comment_id': '1751787068625758', 'comment_u...
reactions             {'thích': 3154, 'yêu thích': 93, 'haha': 30, '...
reaction_count                                                     3718
Name: 0, dtype: object

## Chuyển đổi định dạng thời gian:

In [12]:
type(df_cleaned.loc[0]['time'])

str

In [13]:
df_cleaned["time"] = pd.to_datetime(df["time"], format="%Y-%m-%d %H:%M:%S")

In [14]:
type(df_cleaned.loc[0]['time'])

pandas._libs.tslibs.timestamps.Timestamp

## Sắp xếp dữ liệu theo thời gian:

In [15]:
df_cleaned = df_cleaned.sort_values(by='time')
df_cleaned = df_cleaned.reset_index(drop=True)

## Tạo các cột riêng cho mỗi loại reaction

In [16]:
df_cleaned.loc[0]['reactions']

"{'thích': 1744, 'yêu thích': 310, 'haha': 6, 'wow': 4, 'thương thương': 14, 'buồn': 2, 'phẫn nộ': 4}"

In [17]:
df_cleaned['reactions'] = df_cleaned['reactions'].apply(ast.literal_eval)
reactions_df = pd.json_normalize(df_cleaned['reactions'])
reactions_df.fillna(0, inplace=True)
reactions_df = reactions_df.astype(int)
df_cleaned = pd.concat([df_cleaned, reactions_df], axis=1)

In [18]:
df_cleaned = df_cleaned.drop(columns=['reactions'])

In [19]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   post_id             130 non-null    int64
 1   post_text           130 non-null    object
 2   time                130 non-null    datetime64[ns]
 3   images_description  130 non-null    object
 4   comments            130 non-null    int64
 5   shares              130 non-null    int64
 6   comments_full       130 non-null    object
 7   reaction_count      130 non-null    int64
 8   thích               130 non-null    int32
 9   yêu thích           130 non-null    int32
 10  haha                130 non-null    int32
 11  wow                 130 non-null    int32
 12  thương thương       130 non-null    int32
 13  buồn                130 non-null    int32
 14  phẫn nộ             130 non-null    int32
dtypes: datetime64[ns](1), int32(7), int64(4), object(3)
memory usage: 11.8+ KB

## Làm sạch dữ liệu văn bản (bài đăng)

In [20]:
df_cleaned.loc[0]['post_text']

'Mấy hôm trước, mình ghé qua hiệu sách để mua truyện tranh, vô tình lướt ngang thấy cuốn "Nỗi buồn chiến tranh" của tác giả Bảo Ninh được đặt gọn ở trong một góc. Tự nhiên nhớ về hồi sinh viên hơn chục năm trước nhờ đọc cuốn sách này mình đã hạ quyết tâm xuôi dọc mọi miền đất nước, đi qua những di tích lịch sử, gặp những con người chứng nhân cho những năm tháng đã qua của Tổ Quốc...\n\nRồi mình cầm cuốn sách về và đọc hết chỉ trong vòng một đêm. Sáng dậy thấy trời tờ mờ sáng và nghĩ về những con người "còn rất son trẻ, trong trắng và chân thành" sống qua những "ngày tháng đau thương nhưng huy hoàng, những ngày bất hạnh nhưng chứa chan tình người, những ngày mà chúng ta biết rõ vì sao chúng ta cần phải chịu đựng tất cả và hy sinh sinh tất cả"....\n\nĐọc cuốn sách, bạn sẽ thấy biết bao những ám ảnh chiến tranh, những nỗi buồn về hậu chiến, những linh hồn vất vưởng tha hương trong nấm mồ còn bỏ lại, một loài hoa hồng dại ám ảnh đến cả linh hồn những chiến sĩ... Những cảnh chiến đấu thịt nát xương tan, những bộ hài cốt mà hốc mắt khô khốc đầu rêu bám, những người chiến bị bị ám ảnh bom đạn rồi phát điên vì có những viên bi lưu lạc ở mãi trong khối óc chẳng thể lấy được...\n\nNhững thứ mà cuốn sách này mang lại, không hề có ở bất cứ một tư liệu lịch sử nào, một thước phim nào...\n\nTuy nhiên, trong cuộc phỏng vấn với đài PBS trong loạt phim The Vietnam War, Bảo Ninh có nói rằng "đó là một cuộc nội chiến" khi nói về cuộc kháng chiến của dân tộc Việt Nam. Cá nhân Bảo Ninh vẫn lên án Mỹ là đã lợi dụng người Việt Nam, xâm phạm độc lập tự do của Việt Nam và khiến cho người Việt Nam đánh người Việt Nam và là một cuộc "nội chiến".\n\nNhưng đây vẫn là quan điểm không chính xác, không khách quan.\n\nNếu có thể, nên trải tác phẩm này với thái độ tiếp cận trung thực, đọc để thấu hiểu và với tâm thế thật vững vàng.\n\n-\\-\\-\n#tifosi'

In [21]:
import re
from underthesea import text_normalize
def preprocess_text(text):
    text_process = re.sub(r'#\w+', '', text)
    text_process = re.sub(r'\n+', '\n', text_process)
    text_process = text_normalize(text_process)
    return text_process

In [22]:
df_cleaned['post_text'] = df_cleaned['post_text'].apply(lambda x: preprocess_text(x))

## Xử lý text cho comment

In [25]:
df_cleaned['comments_full'] = df_cleaned['comments_full'].apply(lambda x: eval(x))

In [26]:
total_comments = df_cleaned['comments_full']
total_comments

0      [{'comment_id': '3093438647466273', 'comment_u...
1      [{'comment_id': '1952312648458387', 'comment_u...
2      [{'comment_id': '3426777637564486', 'comment_u...
3      [{'comment_id': '6114478595327080', 'comment_u...
4      [{'comment_id': '808461400985414', 'comment_ur...
                             ...
125    [{'comment_id': '872893474132718', 'comment_ur...
126    [{'comment_id': '6026073020829213', 'comment_u...
127    [{'comment_id': '1529808231182115', 'comment_u...
128    [{'comment_id': '887920282428291', 'comment_ur...
129    [{'comment_id': '1751787068625758', 'comment_u...
Name: comments_full, Length: 130, dtype: object

In [29]:
def process_comments(comments):
    fields_to_remove = ['comment_url', 'commenter_url', 'comment_image']
    for comment in comments:
        for field in fields_to_remove:
            comment.pop(field, None)
        comment['comment_text'] = preprocess_text(comment['comment_text'])
        if 'replies' in comment:
            process_comments(comment['replies'])

In [30]:
for i in range(len(total_comments)):
    process_comments(total_comments[i])

## Tổ chức dữ liệu cho việc phân tích

### Phân tích sentiment cho post_content

In [178]:
import requests
import os

api = os.environ.get("HUGGINGFACE_API")
API_URL = "https://api-inference.huggingface.co/models/VietAI/vit5-large-vietnews-summarization"
headers = {"Authorization": "Bearer " + api}

def query_summary(payload):
	response = requests.post(API_URL, headers=headers, json=payload)
	return response.json()

In [ ]:
query_summary({
    "inputs": """Mấy hôm trước, mình ghé qua hiệu sách để mua truyện tranh, vô tình lướt ngang thấy cuốn "Nỗi buồn chiến tranh" của tác giả Bảo Ninh được đặt gọn ở trong một góc. Tự nhiên nhớ về hồi sinh viên hơn chục năm trước nhờ đọc cuốn sách này mình đã hạ quyết tâm xuôi dọc mọi miền đất nước, đi qua những di tích lịch sử, gặp những con người chứng nhân cho những năm tháng đã qua của Tổ Quốc...
Rồi mình cầm cuốn sách về và đọc hết chỉ trong vòng một đêm. Sáng dậy thấy trời tờ mờ sáng và nghĩ về những con người "còn rất son trẻ, trong trắng và chân thành" sống qua những "ngày tháng đau thương nhưng huy hoàng, những ngày bất hạnh nhưng chứa chan tình người, những ngày mà chúng ta biết rõ vì sao chúng ta cần phải chịu đựng tất cả và hy sinh sinh tất cả"....
Đọc cuốn sách, bạn sẽ thấy biết bao những ám ảnh chiến tranh, những nỗi buồn về hậu chiến, những linh hồn vất vưởng tha hương trong nấm mồ còn bỏ lại, một loài hoa hồng dại ám ảnh đến cả linh hồn những chiến sĩ... Những cảnh chiến đấu thịt nát xương tan, những bộ hài cốt mà hốc mắt khô khốc đầu rêu bám, những người chiến bị bị ám ảnh bom đạn rồi phát điên vì có những viên bi lưu lạc ở mãi trong khối óc chẳng thể lấy được...
Những thứ mà cuốn sách này mang lại, không hề có ở bất cứ một tư liệu lịch sử nào, một thước phim nào...
Tuy nhiên, trong cuộc phỏng vấn với đài PBS trong loạt phim The Vietnam War, Bảo Ninh có nói rằng "đó là một cuộc nội chiến" khi nói về cuộc kháng chiến của dân tộc Việt Nam. Cá nhân Bảo Ninh vẫn lên án Mỹ là đã lợi dụng người Việt Nam, xâm phạm độc lập tự do của Việt Nam và khiến cho người Việt Nam đánh người Việt Nam và là một cuộc "nội chiến".
Nhưng đây vẫn là quan điểm không chính xác, không khách quan.
Nếu có thể, nên trải tác phẩm này với thái độ tiếp cận trung thực, đọc để thấu hiểu và với tâm thế thật vững vàng."""
})[0]['summary_text']

In [30]:
df_cleaned['summary'] = df_cleaned['post_text'].apply(lambda x: query_summary({"inputs": x})[0]['summary_text'])

In [10]:
import torch
from transformers import RobertaForSequenceClassification, AutoTokenizer

model = RobertaForSequenceClassification.from_pretrained("wonrax/phobert-base-vietnamese-sentiment")
tokenizer = AutoTokenizer.from_pretrained("wonrax/phobert-base-vietnamese-sentiment", use_fast=False)
def predict_sentiment(sentence):
    input_ids = torch.tensor([tokenizer.encode(sentence)])
    with torch.no_grad():
        out = model(input_ids)
        rel = out.logits.softmax(dim=-1).tolist()[0]
        # return label index max value 0:NEG 1:POS 2:NEU
        index_max = rel.index(max(rel))
        if index_max == 0:
            return "NEG"
        elif index_max == 1:
            return "POS"
        else:
            return "NEU"

In [71]:
df_cleaned['sentiment'] = df_cleaned['summary'].apply(lambda x: predict_sentiment(x))

### Phân tích sentiment cho comment

In [ ]:
def extract_comment_texts(comments):
    all_comment_texts = []
    for comment in comments:
        all_comment_texts.append(comment['comment_text'])
        
        if 'replies' in comment:
            reply_texts = extract_comment_texts(comment['replies'])
            all_comment_texts.extend(reply_texts)
    return all_comment_texts

In [27]:
import datetime
df_cleaned['comment_sentiment'] = [{} for _ in range(len(total_comments))]
for i in range(len(total_comments)):
    comment_analysis = eval(total_comments[i])  
    all_comment = extract_comment_texts(comment_analysis)  
    count_POS = 0
    count_NEG = 0
    count_NEU = 0
    for comment_text in all_comment:
        preprocessed_text = preprocess_text(comment_text)
        truncated_text = preprocessed_text[:256]
        sentiment = predict_sentiment(truncated_text)
        if sentiment == 'POS':
            count_POS += 1
        elif sentiment == 'NEG':
            count_NEG += 1
        else:
            count_NEU += 1
    sentiment_counts = {'POS': count_POS, 'NEG': count_NEG, 'NEU': count_NEU}
    print({'POS': count_POS, 'NEG': count_NEG, 'NEU': count_NEU})
    df_cleaned.at[i, 'comment_sentiment'] = sentiment_counts

{'POS': 30, 'NEG': 48, 'NEU': 25}
{'POS': 22, 'NEG': 22, 'NEU': 35}
{'POS': 30, 'NEG': 15, 'NEU': 13}
{'POS': 59, 'NEG': 42, 'NEU': 26}
{'POS': 12, 'NEG': 14, 'NEU': 13}
{'POS': 15, 'NEG': 5, 'NEU': 9}
{'POS': 29, 'NEG': 19, 'NEU': 27}
{'POS': 17, 'NEG': 24, 'NEU': 27}
{'POS': 13, 'NEG': 21, 'NEU': 31}
{'POS': 46, 'NEG': 34, 'NEU': 39}
{'POS': 18, 'NEG': 23, 'NEU': 40}
{'POS': 29, 'NEG': 29, 'NEU': 12}
{'POS': 31, 'NEG': 5, 'NEU': 6}
{'POS': 29, 'NEG': 15, 'NEU': 30}
{'POS': 29, 'NEG': 12, 'NEU': 22}
{'POS': 30, 'NEG': 17, 'NEU': 17}
{'POS': 16, 'NEG': 58, 'NEU': 35}
{'POS': 25, 'NEG': 8, 'NEU': 23}
{'POS': 17, 'NEG': 52, 'NEU': 47}
{'POS': 18, 'NEG': 5, 'NEU': 9}
{'POS': 12, 'NEG': 33, 'NEU': 23}
{'POS': 13, 'NEG': 21, 'NEU': 15}
{'POS': 35, 'NEG': 12, 'NEU': 20}
{'POS': 4, 'NEG': 12, 'NEU': 5}
{'POS': 37, 'NEG': 23, 'NEU': 14}
{'POS': 38, 'NEG': 34, 'NEU': 45}
{'POS': 19, 'NEG': 37, 'NEU': 15}
{'POS': 47, 'NEG': 25, 'NEU': 24}
{'POS': 35, 'NEG': 1, 'NEU': 13}
{'POS': 14, 'NEG': 6, 'NEU': 13}
{'POS': 15, 'NEG': 0, 'NEU': 1}
{'POS': 8, 'NEG': 7, 'NEU': 8}
{'POS': 8, 'NEG': 9, 'NEU': 11}
{'POS': 20, 'NEG': 13, 'NEU': 13}
{'POS': 17, 'NEG': 5, 'NEU': 15}
{'POS': 19, 'NEG': 5, 'NEU': 7}
{'POS': 17, 'NEG': 4, 'NEU': 8}
{'POS': 19, 'NEG': 4, 'NEU': 6}
{'POS': 15, 'NEG': 8, 'NEU': 3}
{'POS': 16, 'NEG': 5, 'NEU': 13}
{'POS': 17, 'NEG': 8, 'NEU': 21}
{'POS': 1, 'NEG': 23, 'NEU': 13}
{'POS': 16, 'NEG': 11, 'NEU': 9}
{'POS': 28, 'NEG': 33, 'NEU': 37}
{'POS': 26, 'NEG': 75, 'NEU': 38}
{'POS': 22, 'NEG': 29, 'NEU': 25}
{'POS': 46, 'NEG': 73, 'NEU': 41}
{'POS': 17, 'NEG': 3, 'NEU': 8}
{'POS': 33, 'NEG': 21, 'NEU': 16}
{'POS': 26, 'NEG': 14, 'NEU': 13}
{'POS': 37, 'NEG': 77, 'NEU': 83}
{'POS': 14, 'NEG': 55, 'NEU': 41}
{'POS': 34, 'NEG': 7, 'NEU': 12}
{'POS': 19, 'NEG': 15, 'NEU': 17}
{'POS': 19, 'NEG': 29, 'NEU': 27}
{'POS': 21, 'NEG': 19, 'NEU': 20}
{'POS': 25, 'NEG': 37, 'NEU': 44}
{'POS': 24, 'NEG': 20, 'NEU': 26}
{'POS': 25, 'NEG': 2, 'NEU': 6}
{'POS': 23, 'NEG': 7, 'NEU': 11}
{'POS': 29, 'NEG': 31, 'NEU': 18}
{'POS': 25, 'NEG': 32, 'NEU': 33}
{'POS': 50, 'NEG': 160, 'NEU': 94}
{'POS': 78, 'NEG': 47, 'NEU': 56}
{'POS': 21, 'NEG': 120, 'NEU': 85}
{'POS': 27, 'NEG': 32, 'NEU': 48}
{'POS': 14, 'NEG': 116, 'NEU': 46}
{'POS': 15, 'NEG': 26, 'NEU': 37}
{'POS': 26, 'NEG': 54, 'NEU': 36}
{'POS': 27, 'NEG': 37, 'NEU': 57}
{'POS': 16, 'NEG': 36, 'NEU': 20}
{'POS': 37, 'NEG': 42, 'NEU': 50}
{'POS': 27, 'NEG': 50, 'NEU': 35}
{'POS': 18, 'NEG': 33, 'NEU': 39}
{'POS': 39, 'NEG': 105, 'NEU': 75}
{'POS': 19, 'NEG': 18, 'NEU': 33}
{'POS': 19, 'NEG': 30, 'NEU': 7}
{'POS': 19, 'NEG': 42, 'NEU': 38}
{'POS': 27, 'NEG': 73, 'NEU': 50}
{'POS': 19, 'NEG': 10, 'NEU': 12}
{'POS': 18, 'NEG': 38, 'NEU': 38}
{'POS': 20, 'NEG': 43, 'NEU': 22}
{'POS': 5, 'NEG': 51, 'NEU': 38}
{'POS': 34, 'NEG': 19, 'NEU': 24}
{'POS': 25, 'NEG': 4, 'NEU': 6}
{'POS': 21, 'NEG': 18, 'NEU': 30}
{'POS': 17, 'NEG': 47, 'NEU': 51}
{'POS': 25, 'NEG': 62, 'NEU': 49}
{'POS': 30, 'NEG': 51, 'NEU': 44}
{'POS': 36, 'NEG': 14, 'NEU': 26}
{'POS': 54, 'NEG': 88, 'NEU': 84}
{'POS': 31, 'NEG': 64, 'NEU': 34}
{'POS': 51, 'NEG': 28, 'NEU': 27}
{'POS': 47, 'NEG': 9, 'NEU': 22}
{'POS': 11, 'NEG': 10, 'NEU': 23}
{'POS': 32, 'NEG': 41, 'NEU': 30}
{'POS': 26, 'NEG': 56, 'NEU': 21}
{'POS': 24, 'NEG': 12, 'NEU': 34}
{'POS': 25, 'NEG': 21, 'NEU': 26}
{'POS': 31, 'NEG': 37, 'NEU': 34}
{'POS': 26, 'NEG': 133, 'NEU': 77}
{'POS': 19, 'NEG': 27, 'NEU': 13}
{'POS': 17, 'NEG': 8, 'NEU': 17}
{'POS': 18, 'NEG': 16, 'NEU': 31}
{'POS': 43, 'NEG': 18, 'NEU': 26}
{'POS': 27, 'NEG': 26, 'NEU': 34}
{'POS': 24, 'NEG': 156, 'NEU': 107}
{'POS': 34, 'NEG': 19, 'NEU': 16}
{'POS': 7, 'NEG': 40, 'NEU': 22}
{'POS': 34, 'NEG': 11, 'NEU': 20}
{'POS': 22, 'NEG': 24, 'NEU': 36}
{'POS': 23, 'NEG': 13, 'NEU': 14}
{'POS': 33, 'NEG': 101, 'NEU': 78}
{'POS': 30, 'NEG': 72, 'NEU': 49}
{'POS': 26, 'NEG': 38, 'NEU': 37}
{'POS': 22, 'NEG': 76, 'NEU': 40}
{'POS': 14, 'NEG': 14, 'NEU': 11}
{'POS': 30, 'NEG': 38, 'NEU': 26}
{'POS': 34, 'NEG': 28, 'NEU': 41}
{'POS': 32, 'NEG': 25, 'NEU': 42}
{'POS': 39, 'NEG': 58, 'NEU': 44}
{'POS': 22, 'NEG': 20, 'NEU': 25}
{'POS': 53, 'NEG': 64, 'NEU': 66}
{'POS': 11, 'NEG': 13, 'NEU': 8}
{'POS': 29, 'NEG': 8, 'NEU': 13}
{'POS': 25, 'NEG': 67, 'NEU': 35}
{'POS': 21, 'NEG': 4, 'NEU': 13}
{'POS': 14, 'NEG': 100, 'NEU': 65}
{'POS': 16, 'NEG': 46, 'NEU': 26}
{'POS': 39, 'NEG': 56, 'NEU': 56}
{'POS': 35, 'NEG': 8, 'NEU': 16}
{'POS': 28, 'NEG': 13, 'NEU': 25}

In [ ]:
df['count_labels_sentiment'] = [max(sentiment.values()) for sentiment in df['comment_sentiment']]

In [ ]:
def get_max_sentiment(sentiment):
    max_sentiment = max(sentiment, key=sentiment.get)
    return max_sentiment

In [ ]:
df['sentiment_from_comment'] = [get_max_sentiment(sentiment) for sentiment in df['comment_sentiment']]

In [ ]:
df[['comment_POS', 'comment_NEG', 'comment_NEU']] = pd.DataFrame(df['comment_sentiment'].tolist(), index=df.index)

In [ ]:
# Tạo cột 'NEG' cho mỗi dòng
df['NEG'] = [sentiment['NEG'] for sentiment in df['comment_sentiment']]

# Tạo cột 'POS' cho mỗi dòng
df['POS'] = [sentiment['POS'] for sentiment in df['comment_sentiment']]

# Profile user data

In [26]:
profile_comments = pd.read_csv('Data\data_profile.csv')

In [27]:
profile_comments.head()

,id,Name,Nơi từng sống,Thông tin liên hệ,Thông tin cơ bản,Thành viên trong gia đình,Sự kiện trong đời,Công việc,Các tên khác,Học vấn,...,Giới thiệu về Thịnh,Giới thiệu về Quảng,Giới thiệu về Kiên,Giới thiệu về Huỳnh,Giới thiệu về Minh Anh,Giới thiệu về Kiều,Giới thiệu về Nguyên,Giới thiệu về NgọcAnh,Giới thiệu về Bùi,Giới thiệu về Ly
0,100033354258162,Phương Nhi,Thành phố Hồ Chí Minh\nTỉnh/Thành phố hiện tại,/danss.nhi.35110\nFacebook\ndanshikshin\nInsta...,"25 tháng 10, 2001\nNgày sinh\nNữ\nGiới tính",Hồ Quốc Phong\nAnh/em trai,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,592223021,Thuy Tran,NaN,NaN,Nữ\nGiới tính,NaN,NaN,Tap Hoa Ba Thuy Beo\nOwner and CEO\n16 tháng 1...,TH Ba Thuy Beo\nBiệt danh,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100000081973993,Vitel Bắc,NaN,/vitel.bac\nFacebook,Nam\nGiới tính,Thu Hoang\nCon trai\nBa Hoang\nCon trai,2009\nĐã kết hôn với Trọng Nguyễn,đại học nông nghiệp I,NaN,Đại học Tổng Hợp\nCao đẳng/Đại học\nTốt nghiệp...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100000259568337,Thành Cát Tư Hãn,Hà Nội\nTỉnh/Thành phố hiện tại\nHà Nội\nQuê quán,/thanh.tuhan\nFacebook,Nam\nGiới tính,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007422363503,Lê Công Tuấn Giang,Thái Nguyên\nTỉnh/Thành phố hiện tại,/TuanGiang157\nFacebook\nInedakisfru\nInstagram,Nam\nGiới tính,NaN,NaN,"Công ty Cổ Phần LRV Việt Nam- Ắc Quy Enimac, Ắ...",Rainmood\nBiệt danh,"National Economics University, NEU\nProject ma...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
profile_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 35 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   id                                           148 non-null    int64
 1   Name                                         148 non-null    object
 2   Nơi từng sống                                108 non-null    object
 3   Thông tin liên hệ                            115 non-null    object
 4   Thông tin cơ bản                             117 non-null    object
 5   Thành viên trong gia đình                    25 non-null     object
 6   Sự kiện trong đời                            43 non-null     object
 7   Công việc                                    62 non-null     object
 8   Các tên khác                                 62 non-null     object
 9   Học vấn                                      71 non-null     object
 10  Mối quan hệ                                  45 non-null     object
 11  Giới thiệu về Trung                          2 non-null      object
 12  Trích dẫn yêu thích                          42 non-null     object
 13  Giới thiệu về Biao                           2 non-null      object
 14  Giới thiệu về Huy Hồ                         2 non-null      object
 15  Hạng mục                                     16 non-null     object
 16  Tính minh bạch của trang cá nhân
Xem tất cả  14 non-null     object
 17  Giới thiệu về Dao                            2 non-null      object
 18  Giới thiệu về Phuong                         2 non-null      object
 19  Giới thiệu về Sơn                            2 non-null      object
 20  Giới thiệu về Do                             1 non-null      object
 21  Giới thiệu về Ánh Tuyết                      1 non-null      object
 22  Giới thiệu về Nguyễn                         2 non-null      object
 23  Giới thiệu về Dan                            1 non-null      object
 24  Tính minh bạch của Trang
Xem tất cả          2 non-null      object
 25  Giới thiệu về Thịnh                          1 non-null      object
 26  Giới thiệu về Quảng                          1 non-null      object
 27  Giới thiệu về Kiên                           1 non-null      object
 28  Giới thiệu về Huỳnh                          1 non-null      object
 29  Giới thiệu về Minh Anh                       1 non-null      object
 30  Giới thiệu về Kiều                           1 non-null      object
 31  Giới thiệu về Nguyên                         1 non-null      object
 32  Giới thiệu về NgọcAnh                        1 non-null      object
 33  Giới thiệu về Bùi                            1 non-null      object
 34  Giới thiệu về Ly                             1 non-null      object
dtypes: int64(1), object(34)
memory usage: 40.6+ KB

In [74]:
profile_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                148 non-null    int64
 1   Name              148 non-null    object
 2   Nơi từng sống     148 non-null    object
 3   Thông tin cơ bản  148 non-null    object
 4   Công việc         62 non-null     object
 5   Học vấn           148 non-null    object
 6   sex               105 non-null    object
 7   birth_year        17 non-null     float64
 8   academic_level    71 non-null     float64
 9   location          99 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.7+ KB

In [65]:
profile_comments.iloc[67]

id                                                    100022337921080
Name                                                Thích Nghịch Súng
Nơi từng sống       Hà Nội\nTỉnh/Thành phố hiện tại\nHà Nội\nQuê quán
Thông tin cơ bản                                       Nam\nGiới tính
Công việc           Hàng Miễn Thuế - Xách Tay Nhật\n11 tháng 8, 2...
Học vấn
sex                                                               Nam
birth_year                                                        NaN
academic_level                                                    NaN
Name: 67, dtype: object

In [37]:
# Loại bỏ các cột không có giá trị
profile_comments = profile_comments.dropna(axis=1, thresh=10)

In [38]:
# Loại bỏ các cột không cần thiết
profile_comments = profile_comments.drop(columns=['Thông tin liên hệ','Hạng mục','Mối quan hệ',
                                                  'Tính minh bạch của trang cá nhân\nXem tất cả','Thành viên trong gia đình',
                                                  'Sự kiện trong đời','Các tên khác','Trích dẫn yêu thích'])

In [40]:
import re
def get_sex(text):
    if pd.isna(text) or not isinstance(text, str):
        return None

    gioi_tinh_pattern = re.search(r'\b(Nam|Nữ)\b', text)
    if gioi_tinh_pattern:
        gioi_tinh = gioi_tinh_pattern.group(0)
        return gioi_tinh
    else:
        return None

In [ ]:
profile_comments['Thông tin cơ bản'].fillna("", inplace=True)
profile_comments['sex'] = profile_comments['Thông tin cơ bản'].apply(get_sex)

In [44]:
def extract_birth_year(chuoi):
    match = re.search(r'(\d{4})\n(?:Ngày sinh|Năm sinh)', chuoi)
    return int(match.group(1)) if match else None
profile_comments['birth_year'] = profile_comments['Thông tin cơ bản'].apply(extract_birth_year)

In [56]:
def academic_level(chuoi):
    level_3 = re.search(r'Đại học', chuoi)
    level_2 = re.search(r'THPT', chuoi)
    level_1 = re.search(r'THCS', chuoi)

    if level_3:
        return 3
    elif level_2:
        return 2
    elif level_1:
        return 1
    else:
        return None

In [62]:
profile_comments['Học vấn'].fillna("", inplace=True)
profile_comments['academic_level'] = profile_comments['Học vấn'].apply(academic_level)

In [70]:
def extract_location(chuoi):
    match = re.search(r'(.+?)\nTỉnh/Thành phố hiện tại', chuoi)
    return match.group(1) if match else None

In [72]:
profile_comments['Nơi từng sống'].fillna("", inplace=True)
profile_comments['location'] = profile_comments['Nơi từng sống'].apply(extract_location)

In [ ]:
profile_comments = profile_comments.drop(columns=['Nơi từng sống'])

# Lưu dữ liệu sau khi đã làm sạch

In [29]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   post_id             132 non-null    int64
 1   post_text           132 non-null    object
 2   time                132 non-null    object
 3   timestamp           132 non-null    float64
 4   images_description  132 non-null    object
 5   video_thumbnail     1 non-null      object
 6   comments            132 non-null    int64
 7   shares              132 non-null    int64
 8   username            132 non-null    object
 9   comments_full       132 non-null    object
 10  reactors            132 non-null    object
 11  reactions           132 non-null    object
 12  reaction_count      132 non-null    int64
 13  image_id            128 non-null    float64
 14  image_ids           132 non-null    object
 15  fetched_time        132 non-null    object
 16  video_ids           2 non-null      object
 17  thích               132 non-null    int64
 18  yêu thích           132 non-null    int64
 19  haha                132 non-null    int64
 20  wow                 132 non-null    float64
 21  thương thương       132 non-null    int64
 22  buồn                132 non-null    float64
 23  phẫn nộ             132 non-null    float64
 24  summary             132 non-null    object
 25  sentiment           132 non-null    object
 26  max_label           132 non-null    object
 27  comment_sentiment   132 non-null    object
dtypes: float64(5), int64(8), object(15)
memory usage: 29.0+ KB

In [20]:
FOLDER_PATH = "Data/"
path = FOLDER_PATH + "data_cleaned" + ".csv"
df_cleaned.to_csv(path, index=False)

In [76]:
profile_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                148 non-null    int64
 1   Name              148 non-null    object
 2   Thông tin cơ bản  148 non-null    object
 3   Công việc         62 non-null     object
 4   Học vấn           148 non-null    object
 5   sex               105 non-null    object
 6   birth_year        17 non-null     float64
 7   academic_level    71 non-null     float64
 8   location          99 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 10.5+ KB

In [78]:
FOLDER_PATH = "Data/"
path = FOLDER_PATH + "data_profile_cleaned" + ".csv"
profile_comments.to_csv(path, index=False)